name: Build docs and deploy on GH Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url:  ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
      - name: Build docs
        run: cargo doc --all --no-deps
      - uses: actions/upload-pages-artifact@v4
        with:
          path: target/doc/kalendarilo
      - id: deployment
        uses: actions/deploy-pages@v4
